<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Марафон.Properties.Settings.MarathoneConnectionString"
            connectionString="Data Source=DESKTOP-V0HGA9F;Initial Catalog=Marathone;User ID=sa;Password=asDf4i4n"
            providerName="System.Data.SqlClient" />  
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>